<?xml version="1.0"?>
<!--
  Robot ③ 回収ロボット (Collector)
  搭載センサ・機器:
    - RealSense D435 RGBD (前方: 残滓確認)
    - 回収コンベア (前部下方)
  役割: 除草状況確認・残滓回収
-->
<robot name="robot3" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find farm_description)/urdf/common/base.urdf.xacro"/>
  <xacro:include filename="$(find farm_description)/urdf/common/rgbd.urdf.xacro"/>

  <!-- 差動駆動台車 (白色) -->
  <xacro:diff_drive_base robot_name="robot3" color="white"/>

  <!-- 前方RGBD: 残滓・除草状況確認 -->
  <xacro:realsense_d435
    prefix="robot3_front"
    parent="robot3/base_link"
    xyz="0.20 0.0 0.10"
    rpy="0.0 0.35 0.0"
    robot="robot3"/>

  <!-- 回収コンベア -->
  <joint name="robot3/conveyor_joint" type="prismatic">
    <parent link="robot3/base_link"/>
    <child  link="robot3/conveyor_link"/>
    <origin xyz="0.18 0.0 -0.06" rpy="0.0 0.0 0.0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.05" upper="0.05" effort="10" velocity="0.1"/>
  </joint>

  <link name="robot3/conveyor_link">
    <visual>
      <geometry>
        <box size="0.12 0.30 0.02"/>
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.12 0.30 0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8"/>
      <inertia
        ixx="0.00620" ixy="0.0" ixz="0.0"
        iyy="0.00098" iyz="0.0"
        izz="0.00702"/>
    </inertial>
  </link>

  <!-- 回収コンベアジョイント状態 -->
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
      <topic>/robot3/joint_states</topic>
      <joint_name>robot3/conveyor_joint</joint_name>
    </plugin>
  </gazebo>

</robot>
